workflows/fmc-device-registration-monitoring-subworkflow.json
{
  "name": "FMC-Device-Registration-Monitoring-SubWorkflow",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1056,
        -112
      ],
      "id": "9ead0d32-3fdc-459f-a1e7-0d7fcc9c2f49",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d3e3e6cd-b40e-4c66-a8f7-db77af628e98",
              "leftValue": "={{ $json.device1_name }}",
              "rightValue": "={{ $json.items.name }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "1258d307-7ed8-444c-9b10-fb29f6066e2e",
              "leftValue": "={{ $json.device2_name  }}",
              "rightValue": "={{ $json.items.name }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -912,
        -208
      ],
      "id": "8755cd77-eb2c-401b-8ba7-75a0ea11180e",
      "name": "Filter"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1696,
        -240
      ],
      "id": "6ade200c-e9db-40e1-a1f4-dcdb9ea8a62e",
      "name": "Wait1",
      "webhookId": "bbb965a3-5a99-468f-a022-ad9fb30f8739"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6ea6d592-a6f5-4572-8d1d-abf503fa1b1b",
              "leftValue": "={{ $json.device_count }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -768,
        -224
      ],
      "id": "229b7592-4dd5-4076-a81c-a13427b86d92",
      "name": "Check Device Count"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "34b42c1f-3888-4cc4-8f14-c0f2972de634",
              "leftValue": "={{ Number($('Get Device Records').last().json.paging.count) }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1216,
        -32
      ],
      "id": "e7bede4b-6584-40a7-822a-bc7fc5629607",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -560,
        48
      ],
      "id": "95ba4acd-9721-4512-ae94-8395bfd43849",
      "name": "Wait",
      "webhookId": "5d5745b4-ae44-47de-a078-de5746dbdb25"
    },
    {
      "parameters": {
        "fieldToSplitOut": "retryAttempts",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1056,
        192
      ],
      "id": "742ec6d0-3cf8-4c93-99ee-e5bf54dddfea",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "628ec963-da0c-4b57-80d4-4a51e8417266",
              "leftValue": "={{ ['green', 'yellow', 'recovered'].includes($json.healthStatus.toLowerCase()) && $json.deploymentStatus === 'DEPLOYED' }}",
              "rightValue": "green",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        -576
      ],
      "id": "3f023f16-8300-4274-bd9d-c4acc2f0f253",
      "name": "Deployment Status = OK"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        -80,
        -640
      ],
      "id": "34998102-de58-4553-9f42-714fd5667fc4",
      "name": "Summarize"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        336,
        -272
      ],
      "id": "d7c2375d-03d5-4e05-b645-bcf7391bd52a",
      "name": "Wait2",
      "webhookId": "ec24062c-bb31-455e-b660-0223e7ef347a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "58bb75fe-57a3-4b05-ab18-00a4cd93fb3d",
              "leftValue": "={{ $json.count_name }}",
              "rightValue": "={{ $('Check Device Count').first().json.device_count }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        80,
        -640
      ],
      "id": "a414824e-92ae-4fa8-b590-d24674266d6f",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e22daa0e-9c16-492e-81d6-80f6bce8eee7",
              "leftValue": "={{ $json.healthStatus === 'red' && $json.deploymentStatus === 'NOT_DEPLOYED' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        80,
        -448
      ],
      "id": "a0e2ba9d-907d-4d10-a30d-d008dacb9831",
      "name": "Deployment Status = NOT_OK"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "861a9fd3-b38c-4687-b6ff-35834fda052c",
              "name": "name_first device",
              "value": "={{ $('Deployment Status = OK').all()[0].json.name }}",
              "type": "string"
            },
            {
              "id": "c01d2054-b5b2-48fb-b702-cba2a5e377c5",
              "name": "ip_first device",
              "value": "={{ $('Deployment Status = OK').all()[0].json.hostName }}",
              "type": "string"
            },
            {
              "id": "7196184a-3776-4203-a354-7136fa086284",
              "name": "deploymentStatus_first device",
              "value": "={{ $('Deployment Status = OK').all()[0].json.deploymentStatus }}",
              "type": "string"
            },
            {
              "id": "8546f7fc-03c2-44d2-8322-41087369279e",
              "name": "healthStatus_first device",
              "value": "={{ $('Deployment Status = OK').all()[0].json.healthStatus }}",
              "type": "string"
            },
            {
              "id": "3fd6a073-b5a3-4abb-9a31-d8f7aa8d25f1",
              "name": "accessPolicy_first device",
              "value": "={{ $('Deployment Status = OK').all()[0].json.accessPolicy.name }}",
              "type": "string"
            },
            {
              "id": "e11ebd13-7bda-4dfc-a0c3-7a0a2463e842",
              "name": "Policy.id_first device",
              "value": "={{ $('Deployment Status = OK').all()[0].json.healthPolicy.id }}",
              "type": "string"
            },
            {
              "id": "9da20325-282d-471c-90ba-b3f8f31a2e17",
              "name": "accessPolicy.id_first device",
              "value": "={{ $('Deployment Status = OK').all()[0].json.accessPolicy.id }}",
              "type": "string"
            },
            {
              "id": "876e668f-8c99-4d79-9377-7ba290ad0782",
              "name": "name_sec device",
              "value": "={{ $('Deployment Status = OK').all()[1].json.name }}",
              "type": "string"
            },
            {
              "id": "b9762380-aef1-491e-b292-01bf970a35a8",
              "name": "ip_sec device",
              "value": "={{ $('Deployment Status = OK').all()[1].json.hostName }}",
              "type": "string"
            },
            {
              "id": "c80a6fc1-b5b4-4c70-9866-d1a7d71d08f6",
              "name": "deploymentStatus_sec device",
              "value": "={{ $('Deployment Status = OK').all()[1].json.deploymentStatus }}",
              "type": "string"
            },
            {
              "id": "9402d779-6e85-4b00-ba46-76bf4842a083",
              "name": "healthStatus_sec device",
              "value": "={{ $('Deployment Status = OK').all()[1].json.healthStatus }}",
              "type": "string"
            },
            {
              "id": "b7db1cbb-7419-46e4-bde7-3abc010c6780",
              "name": "accessPolicy_sec device",
              "value": "={{ $('Deployment Status = OK').all()[1].json.accessPolicy.name }}",
              "type": "string"
            },
            {
              "id": "d4ba8ca7-f0dd-417d-b28a-3c131465679f",
              "name": "accessPolicy.id_sec device",
              "value": "={{ $('Deployment Status = OK').all()[1].json.accessPolicy.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -752
      ],
      "id": "7fe4d6d7-acdf-4f79-a77d-d44a0f8b7d01",
      "name": "Results for Deployment = OK"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "861a9fd3-b38c-4687-b6ff-35834fda052c",
              "name": "name_first device",
              "value": "={{ $('Deployment Status = OK').all()[0].json.name }}",
              "type": "string"
            },
            {
              "id": "c01d2054-b5b2-48fb-b702-cba2a5e377c5",
              "name": "ip_first device",
              "value": "={{ $('Deployment Status = OK').all()[0].json.hostName }}",
              "type": "string"
            },
            {
              "id": "7196184a-3776-4203-a354-7136fa086284",
              "name": "deploymentStatus_first device",
              "value": "={{ $('Deployment Status = OK').all()[0].json.deploymentStatus }}",
              "type": "string"
            },
            {
              "id": "8546f7fc-03c2-44d2-8322-41087369279e",
              "name": "healthStatus_first device",
              "value": "={{ $('Deployment Status = OK').all()[0].json.healthStatus }}",
              "type": "string"
            },
            {
              "id": "876e668f-8c99-4d79-9377-7ba290ad0782",
              "name": "name_sec device",
              "value": "={{ $('Deployment Status = OK').all()[1].json.name }}",
              "type": "string"
            },
            {
              "id": "b9762380-aef1-491e-b292-01bf970a35a8",
              "name": "ip_sec device",
              "value": "={{ $('Deployment Status = OK').all()[1].json.hostName }}",
              "type": "string"
            },
            {
              "id": "c80a6fc1-b5b4-4c70-9866-d1a7d71d08f6",
              "name": "deploymentStatus_sec device",
              "value": "={{ $('Deployment Status = OK').all()[1].json.deploymentStatus }}",
              "type": "string"
            },
            {
              "id": "9402d779-6e85-4b00-ba46-76bf4842a083",
              "name": "healthStatus_sec device",
              "value": "={{ $('Deployment Status = OK').all()[1].json.healthStatus }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -560
      ],
      "id": "89e0c47c-72f7-451d-b328-bac3ea317f09",
      "name": "Results for Deployment = NOT OK"
    },
    {
      "parameters": {
        "fromEmail": "degraus@gmail.com",
        "toEmail": "={{ $('Extract Vars_01').item.json.email_destination }}",
        "subject": "\u2705 FMC Device Deployment - SUCCESS",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { \n            font-family: Arial, sans-serif; \n            line-height: 1.6; \n            color: #333;\n            max-width: 800px;\n            margin: 0 auto;\n        }\n        .header { \n            background-color: #4CAF50; \n            color: white; \n            padding: 20px; \n            text-align: center;\n            border-radius: 5px 5px 0 0;\n        }\n        .content { \n            padding: 20px; \n            background-color: #f9f9f9;\n        }\n        .device { \n            background-color: white; \n            padding: 15px; \n            margin: 10px 0; \n            border-radius: 5px;\n            border-left: 4px solid #4CAF50;\n        }\n        .success { \n            color: #4CAF50; \n            font-weight: bold; \n            font-size: 18px;\n        }\n        .label { \n            font-weight: bold; \n            color: #555;\n        }\n        .summary {\n            background-color: #e8f5e9;\n            padding: 15px;\n            border-radius: 5px;\n            margin: 15px 0;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h1>\u2705 FMC Device Deployment Report</h1>\n    </div>\n    \n    <div class=\"content\">\n        <p class=\"success\">Status: SUCCESS \u2705</p>\n        \n        <h2>Devices Deployed:</h2>\n        \n        <div class=\"device\">\n            <h3>{{ $json['name_first device'] }}</h3>\n            <p><span class=\"label\">IP:</span> {{ $json['ip_first device'] }}</p>\n            <p><span class=\"label\">Deployment:</span> <span style=\"color: #4CAF50;\">{{ $json['deploymentStatus_first device'] }}</span></p>\n            <p><span class=\"label\">Health:</span> <span style=\"color: #4CAF50;\">{{ $json['healthStatus_first device'] }}</span></p>\n            <p><span class=\"label\">Access Policy:</span> {{ $json['accessPolicy_first device'] }}</p>\n        </div>\n        \n        <div class=\"device\">\n            <h3>{{ $json['name_sec device'] }}</h3>\n            <p><span class=\"label\">IP:</span> {{ $json['ip_sec device'] }}</p>\n            <p><span class=\"label\">Deployment:</span> <span style=\"color: #4CAF50;\">{{ $json['deploymentStatus_sec device'] }}</span></p>\n            <p><span class=\"label\">Health:</span> <span style=\"color: #4CAF50;\">{{ $json['healthStatus_sec device'] }}</span></p>\n            <p><span class=\"label\">Access Policy:</span> {{ $json['accessPolicy_sec device'] }}</p>\n        </div>\n        \n        <div class=\"summary\">\n            <h3>\ud83d\udcca Summary:</h3>\n            <ul>\n                <li>\u2705 All devices successfully deployed</li>\n                <li>\u2705 All devices healthy</li>\n            </ul>\n        </div>\n        \n        <p><span class=\"label\">Timestamp:</span> {{ $now.format('MMM d, yyyy h:mm a') }}</p>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        608,
        -752
      ],
      "id": "c51271b5-ba10-4a91-8d06-96de162fa4c0",
      "name": "Send an Email - Deployment OK",
      "webhookId": "0f58806f-9165-424e-b73e-5a60fa9983b8",
      "credentials": {
        "smtp": {
          "id": "ohgrPgOLdkyFzO3Z",
          "name": "gmail"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "degraus@gmail.com",
        "toEmail": "{{ $('Extract Vars_01').item.email_destinationt }}",
        "subject": "\u274c FMC Device Deployment - FAILED",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { \n            font-family: Arial, sans-serif; \n            line-height: 1.6; \n            color: #333;\n            max-width: 800px;\n            margin: 0 auto;\n        }\n        .header { \n            background-color: #f44336; \n            color: white; \n            padding: 20px; \n            text-align: center;\n            border-radius: 5px 5px 0 0;\n        }\n        .content { \n            padding: 20px; \n            background-color: #f9f9f9;\n        }\n        .device { \n            background-color: white; \n            padding: 15px; \n            margin: 10px 0; \n            border-radius: 5px;\n            border-left: 4px solid #f44336;\n        }\n        .failure { \n            color: #f44336; \n            font-weight: bold; \n            font-size: 18px;\n        }\n        .label { \n            font-weight: bold; \n            color: #555;\n        }\n        .action { \n            background-color: #fff3cd; \n            padding: 15px; \n            border-left: 4px solid #ffc107; \n            margin: 15px 0;\n            border-radius: 5px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h1>\u274c FMC Device Deployment Report</h1>\n    </div>\n    \n    <div class=\"content\">\n        <p class=\"failure\">Status: FAILED \u274c</p>\n        \n        <h2>Device Details:</h2>\n        \n        <div class=\"device\">\n            <h3>{{ $json['name_first device'] }}</h3>\n            <p><span class=\"label\">IP:</span> {{ $json['ip_first device'] }}</p>\n            <p><span class=\"label\">Deployment:</span> <span style=\"color: #f44336;\">{{ $json['deploymentStatus_first device'] }}</span></p>\n            <p><span class=\"label\">Health:</span> <span style=\"color: #f44336;\">{{ $json['healthStatus_first device'] }}</span></p>\n            <p><span class=\"label\">Access Policy:</span> {{ $json['accessPolicy_first device'] }}</p>\n        </div>\n        \n        <div class=\"action\">\n            <h3>\u26a0\ufe0f Action Required:</h3>\n            <ul>\n                <li>\ud83d\udd0d Check FMC device management console</li>\n                <li>\ud83d\udd0c Verify device connectivity and network access</li>\n                <li>\ud83d\udccb Review deployment configuration and policies</li>\n                <li>\ud83e\ude7a Check device health status and system logs</li>\n                <li>\ud83d\udd04 Retry deployment if needed</li>\n            </ul>\n        </div>\n        \n        <p><span class=\"label\">Timestamp:</span> {{ $now.format('MMM d, yyyy h:mm a') }}</p>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        624,
        -560
      ],
      "id": "8eac5b53-03c6-4e97-9151-993cb6ff3d20",
      "name": "Send an Email - Deployment NOT OK",
      "webhookId": "0f58806f-9165-424e-b73e-5a60fa9983b8",
      "credentials": {
        "smtp": {
          "id": "ohgrPgOLdkyFzO3Z",
          "name": "gmail"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://{{ $json.fmc }}/api/fmc_config/v1/domain/default/devices/devicerecords",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-auth-access-token",
              "value": "={{ $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1696,
        -32
      ],
      "id": "879d6c0f-6c23-48e9-b026-01c052d28ea8",
      "name": "Get Device Records",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf6c171e-9647-4df9-a8e8-cabd7e30990b",
              "name": "retryAttempts",
              "value": "={{ [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40] }}",
              "type": "array"
            },
            {
              "id": "50982267-b68c-40db-8ad5-314ebc46cac9",
              "name": "access_token",
              "value": "={{ $('Wait1').first().json.access_token }}",
              "type": "string"
            },
            {
              "id": "63ed8f20-6876-4a33-a6ef-91c5d7d8dda7",
              "name": "fmc",
              "value": "={{ $('Wait1').first().json.fmc }}",
              "type": "string"
            },
            {
              "id": "9222022b-9ecd-462d-92ee-01c96bbb76ad",
              "name": "items",
              "value": "={{ $json.items || [] }}",
              "type": "array"
            },
            {
              "id": "e0dd9aa5-c327-43f9-87b8-506a3c7f05e0",
              "name": "device_count",
              "value": "={{ $json.paging.count }}",
              "type": "number"
            },
            {
              "id": "cecaff32-a148-4319-a605-eb37df68116d",
              "name": "device1_name",
              "value": "={{ $('Wait1').item.json.device1_name }}",
              "type": "string"
            },
            {
              "id": "d0a9035f-2375-435e-be84-3449d80940b2",
              "name": "device2_name",
              "value": "={{ $('Wait1').item.json.device2_name }}",
              "type": "string"
            },
            {
              "id": "1c90c30a-61a9-4e85-9d83-692c03aa84a9",
              "name": "email_destination",
              "value": "={{ $('Wait1').first().json.email_destination }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        -32
      ],
      "id": "6c5775cc-9ed4-4adb-8612-2551250e313e",
      "name": "Extract Vars_01"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1376,
        -32
      ],
      "id": "81e7b14a-db2a-4f01-a097-bbaa28c79240",
      "name": "Limit Output"
    },
    {
      "parameters": {
        "errorMessage": "Devices were not added to FMC. Please check on FMC"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -768,
        -32
      ],
      "id": "7f2fd9f7-10ba-48a6-90ee-05b1b125b741",
      "name": "Device Deployment Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50982267-b68c-40db-8ad5-314ebc46cac9",
              "name": "access_token",
              "value": "={{ $('Wait1').first().json.access_token }}",
              "type": "string"
            },
            {
              "id": "63ed8f20-6876-4a33-a6ef-91c5d7d8dda7",
              "name": "fmc",
              "value": "={{ $('Wait1').first().json.fmc }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        272
      ],
      "id": "3caecac0-cef3-40ab-8814-5aadcd8c5232",
      "name": "Exctract Vars_02"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-auth-access-token",
              "value": "={{ $json.originalData.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -384,
        -560
      ],
      "id": "b83d577f-1b6f-46e6-a56d-ea905fbe530f",
      "name": "Get Device Deployment / Health Status",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1712,
        -464
      ],
      "id": "8dffb70e-d57f-45b9-b543-40d987e07ce9",
      "name": "Input = Data from deployment sub-workflow",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1696,
        -688
      ],
      "id": "862d8411-e412-44f7-9037-4b14c9c87543",
      "name": "N8N bug... Needed to be able to publish sub-workflow",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -880,
        192
      ],
      "id": "4bdb641c-9301-473c-a40e-cd46a695d2c9",
      "name": "Loop to check when devices appear on FMC"
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst items = $input.all();\n\n// Try to get access_token from the workflow execution data\n// It should be available from earlier nodes\nconst firstItem = items[0];\n\n// Check if we have access_token in current item\nlet access_token = firstItem.json.access_token;\n\n// If not, try to get it from originalData\nif (!access_token && firstItem.json.originalData) {\n  access_token = firstItem.json.originalData.access_token;\n}\n\n// If still not found, try to get from a previous node\nif (!access_token) {\n  // Try to get from Check Device Count or other nodes\n  const checkDeviceCount = $('Check Device Count').first();\n  if (checkDeviceCount && checkDeviceCount.json) {\n    access_token = checkDeviceCount.json.access_token;\n  }\n}\n\n// Process each item\nreturn items.map(item => {\n  let url;\n  \n  // Check if data has 'items' object (from Check Device Count)\n  if (item.json.items && item.json.items.links) {\n    url = item.json.items.links.self;\n  }\n  // Otherwise it's from Wait2 (direct links.self)\n  else if (item.json.links && item.json.links.self) {\n    url = item.json.links.self;\n  }\n  \n  // Return normalized structure with URL and access_token\n  return {\n    json: {\n      url: url,\n      access_token: access_token,  // Preserve access_token\n      ...item.json  // Spread all original fields\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        -432
      ],
      "id": "095ec397-c102-41a9-a3f4-3d6b1d62dca3",
      "name": "Normalize URL Data"
    }
  ],
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Check Device Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Device Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Device Count": {
      "main": [
        [
          {
            "node": "Normalize URL Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Exctract Vars_02",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop to check when devices appear on FMC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deployment Status = OK": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deployment Status = NOT_OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Normalize URL Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Results for Deployment = OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deployment Status = NOT_OK": {
      "main": [
        [
          {
            "node": "Results for Deployment = NOT OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Results for Deployment = OK": {
      "main": [
        [
          {
            "node": "Send an Email - Deployment OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Results for Deployment = NOT OK": {
      "main": [
        [
          {
            "node": "Send an Email - Deployment NOT OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Device Records": {
      "main": [
        [
          {
            "node": "Extract Vars_01",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Vars_01": {
      "main": [
        [
          {
            "node": "Limit Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Output": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exctract Vars_02": {
      "main": [
        [
          {
            "node": "Get Device Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Device Deployment / Health Status": {
      "main": [
        [
          {
            "node": "Deployment Status = OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input = Data from deployment sub-workflow": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N8N bug... Needed to be able to publish sub-workflow": {
      "main": [
        []
      ]
    },
    "Loop to check when devices appear on FMC": {
      "main": [
        [
          {
            "node": "Device Deployment Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize URL Data": {
      "main": [
        [
          {
            "node": "Get Device Deployment / Health Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 600
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:N8N bug... Needed to be able to publish sub-workflow": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Input = Data from deployment sub-workflow": [
      {
        "json": {
          "access_token": "ecd1c99c-6893-4726-b00a-4edec615c49d",
          "fmc": "192.168.0.201",
          "device1_name": "ciscoftd02",
          "device2_name": "ciscoftd03",
          "email_destination": "joaopaulo.pinheiro@neweratech.com"
        }
      }
    ]
  },
  "versionId": "d99e0ee7-0015-40d9-bf1f-0dff3fc2e001",
  "tags": []
}